a {
  color: #fff;
  @media(prefers-color-scheme: light) {
    color: #000;
  }
  transition: .5s ease-in-out all;
  &:hover {
    color: #090979;
    text-decoration: none;
  }
}

body {
  background: #cbe5fe; /* Fallback if browser doesn't support gradients */
  font-family: 'Inter var experimental', sans-serif;
  font-display: swap;
  color: #fff;
  @media(prefers-color-scheme: light) {
    color: #000;
  }
}

h1 { font-size: 3em; }

.button {
  border: 1px solid #fff;
  @media(prefers-color-scheme: light) {
    border: 1px solid #000;
  }
  border-radius: 1em;
  transition: .5s ease-in-out all;
  max-width: 30vw;
  max-height: 5vw;
  padding: .1em .1em;
  &:hover {
    background: #090979;
    color: #fff;
  }
}

.centre {
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gen { display: none; }

input[type=text] {
  border: 1px solid black;
  border-radius: 1em;
  padding-bottom: .25em;
  padding-left: 1em;
  padding-top: .25em;
}

.passcode {
  white-space: normal;
  word-break: break-all;
}

.tool {
  background: #000;
  @media(prefers-color-scheme: light) {
    background: #fff;
  }
  border-radius: 2em;
  padding: 1em 1em 1em 1em;
  text-align: center;
  width: 50vw;
  @media(max-width: 400px) {
    width: 75vw;
    height: 50vh;
  }
}

.copyright {
  font-size: .80em;
  @media(max-width: 400px) {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    color: #dbcafd;
    @media(prefers-color-scheme: light) {
      color: #7965a2;
    }
  }
}