a {
    color: #000;
    transition: .5s ease-in-out all;
}

a:hover {
    color: #090979;
    text-decoration: none;
}

body {
    background: #020024; /* Fallback if browser doesn't support gradients */
    background: linear-gradient(25deg, #020024 0%, #090979 10%, #00d4ff 100%) fixed; 
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}

.button {
    border: 1px solid #000;
    border-radius: 1em;
    transition: .5s ease-in-out all;
}

.button:hover {
    background: #090979;
    color: #fff;
}

.centre {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#gen {
    display: none;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 1em;
    padding-bottom: .25em;
    padding-left: 1em;
    padding-top: .25em;
}

.passcode {
    white-space: normal;
    word-break: break-all;
}

.tool {
    background: #fff;
    border-radius: 2em;
    padding: 1em 1em 1em 1em;
    text-align: center;
    width: 50%;
}

.copyright {
    font-size: 12px;
}